# Gradle
.gradle/
build/
*/build/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Logs
*.log

# Android
.DS_Store
/local.properties
/.idea
*.iml
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_

# Firebase config (ignora google-services.json si lo subes privado)
# /app/google-services.json
